h1{
    color:rgb(31, 142, 161);
}
body{
    font-family:calibri;
    text-align:justify;
    margin:2%;
}
p, h3{
    margin:2%;    
}
@media(min-width:768px) {
    .container-1{
        display:flex;
    }
    .container-1 div{
        border: 1px #ccc solid;
    }
}
.container-1 div{
    display:block;
    border: 1px #ccc solid;
}


